.whiteList {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 90px;
}

.card {
	padding-top: 20px;
	border-top: 1px solid rgb(192, 192, 192);
	width: 350px;
	align-items: center;
	display: flex;
	gap: 30px;

	.card_title {
		color: rgb(102, 102, 102);
		line-height: 150%;
		margin-bottom: 5px;
	}
	.card_text {
		color: rgb(133, 133, 155);
		line-height: 150%;
	}
}
