.hero {
	display: flex;
	justify-content: space-between;
}

.heroContent {
	padding: 130px 0;
	width: 444px;
}
.heroTitle {
	font-size: 60px;
	font-weight: 400;
}

.heroText {
	line-height: 150%;
	margin: 30px 0;
	color: rgb(133, 133, 155);
}



.heroImg {
	margin-top: 5px;

	clip-path: inset(0px 0px 620px 0px);
}
