.footer_container {
	background-color: #4c5866;
	padding: 28px 0;

	.footer_content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.footer_list {
		display: flex;
		gap: 30px;
	}
}

.footer_content_down {
	display: flex;
	justify-content: center;

	.footer_content_down_text {
		font-size: 13px;
		color: rgb(76, 88, 102);
		span {
			color: rgb(188, 188, 188);
		}
	}
}
