.whiteContainer {
	background-color: rgb(235, 235, 235);
	padding: 90px 0;
}

.White_Content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;

	.total_Texts {
		max-width: 350px;

		.texts_title {
			font-size: 40px;
			font-weight: 400;
			margin-bottom: 20px;
			line-height: 1;
		}

		.texts_text {
			color: rgb(133, 133, 155);
			line-height: 170%;
			margin-bottom: 15px;
		}
	}
}
